@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic&subset=latin,latin-ext);

$backColour: rgba(255, 255, 255, 0.5);

.club-info {
    .club-image {
        border-radius: 3px;
        position: relative;
        max-height: 500px;
        width: 100%;
        height: 20em;
        background-position: center center;
        background-size: auto auto;

        .club-title {
            border-radius: 3px;
            background-color: $backColour;
            display: inline-block;
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 0.2em 0.4em;
            font-size: 3em;
        }
    }
}
